<table [formGroup]="postForm">
  <tbody>
    <tr>
      <td>Title</td>
      <td><input type="text" formControlName="title" /></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" formControlName="desc" /></td>
    </tr>
    <tr>
      <td>Add Hashtags</td>
      <td><button (click)="addHashtags()">+</button></td>
    </tr>
    <ng-container formArrayName="hashtags">
      <tr *ngFor="let x of postForm.get('hashtags').controls; let i = index">
        <td>{{ i + 1 }}</td>
        <td><input type="text" [formControlName]="i" /></td>
      </tr>
    </ng-container>
    <tr>
      <td></td>
      <td><button (click)="createPost()">Create post</button></td>
    </tr>
  </tbody>
</table>
<hr />
<ul>
  <li *ngFor="let x of posts">
    <h4>{{ x.title }}</h4>
    <p>{{ x.desc }}</p>
    <ul>
      <li *ngFor="let hashtag of x.hashtags">{{ hashtag }}</li>
    </ul>
  </li>
</ul>
